<div>
  Welcome {{user.name}}

  <div id="chatbox">
    <div *ngFor="let message of messages">{{message.user.name}} : {{message.message}}</div>
  </div>

  <form (ngSubmit)="onSubmit()" #chatForm="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" id="userMsg"
             placeholder="User message"
             [(ngModel)]="userMsg" name="userMsg"
             required >
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!chatForm.form.valid">Submit</button>
  </form>
</div>
